<configuration scan="true" scanPeriod="30 seconds">

<!--    <property name="LOG_PATH" value="${}"/>-->
    <!--콘솔에 로그를 찍음, 로그를 OutputStream에 작성하여 콘솔에 출력-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta(%-4relative) --- [ %thread{10} ] %cyan(%logger{20}) : %msg%n </pattern>
        </encoder>
    </appender>

    <!--여러개의 파일을 롤링, 순회하면서 로그를 찍는다-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/local_log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/local_log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory> <!--일자별 로그파일 최대 보관 주기-->
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-4relative --- [ %thread{10} ] %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--특정 패키지의 로깅 레벨 설정-->
    <logger name="org.springframework" level="info"/>
    <logger name="org.hibernate" level="info"/>

    <!-- root 전체 로깅 레벨 설정-->
    <root>
        <appender-ref ref="CONSOLE"/> <!-- Console에 로그를 출력하고자 할 때 사용 -->
        <appender-ref ref="FILE"/> <!-- File로 로그를 남기고자 할 때 사용 -->
    </root>

</configuration>